<div class="container-footer">
  <p class="footer-text">
    No matter which yacht you choose, our experienced crew will ensure that your
    journey is smooth and enjoyable.
  </p>
  <div class="footer-microtext">
    <p class="footer-date">2023.Yacht Adventure</p>
    <p class="footer-privat">Privacy Police</p>
  </div>
</div>
<div class="footer-container">
  <div class="footer-novigetion">
    <p class="footer-novigetion-title"></p>
    <div class="footer-novigetion-button">
      <ul class="footer-novigetion-button-list">
        <li class="footer-novigetion-button-item"></li>
        <li class="footer-novigetion-button-item"></li>
        <li class="footer-novigetion-button-item"></li>
      </ul>
    </div>
    <div class="footer-media"></div>
  </div>
</div>
