
    <div class="footer-container">
        <div class="footer-all">
            <div class="footer-novigetion">
                <a class="footer-logo" href="./index.html">yachtjet</a>
                <nav class="footer-novigetion-button">
                    <ul class="footer-novigetion-list">
                        <li class="footer-novigetion-item">
                            <a href="#about" class="footer-novigetion-link">About</a>
                        </li>
                        <li class="footer-novigetion-item">
                            <a href="#yachts" class="footer-novigetion-link">Yachts</a>
                        </li>
                        <li class="footer-novigetion-item">
                            <a href="#reviews" class="footer-novigetion-link">Reviews</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer-media">
                <ul class="footer-media-list">
                    <li class="footer-media-item">
                        <a class="footer-media-link" href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg class="footer-media-icon" width="24" height="24" aria-label="instagram icon">
                                <use href="./img/icons.svg#icon-ph_instagram-logo-fill"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-media-item">
                        <a class="footer-media-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg class="footer-media-icon" width="24" height="24" aria-label="youtube icon">
                                <use href="./img/icons.svg#icon-entypo-social_youtube-with-circle"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-media-item">
                        <a class="footer-media-link" href="https://www.facebook.com/goITclub/" target="_blank">
                            <svg class="footer-media-icon" width="24" height="24" aria-label="facebook icon">
                                <use href="./img/icons.svg#icon-ic_outline-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

