<header class="header">

	<div class="header-container container">

		<div class="header-body">
			<nav class="header-navigation">
				<a class="header-logo" href="./index.html">
					yachtjet
				</a>
				<ul class="header-menu-list">
					<li class="header-menu-item">
						<a class="header-menu-link" href="#about">About</a>
					</li>
					<li class="header-menu-item">
						<a class="header-menu-link" href="#yachts">Yachts</a>
					</li>
					<li class="header-menu-item">
						<a class="header-menu-link" href="#reviews">Reviews</a>
					</li>
				</ul>
			</nav>

			<ul class="header-social-list">
				<li class="header-social-item">
					<a class="header-social-link" href="https://www.instagram.com/goitclub/" target="_blank">
						<svg class="header-social-icon" width="24" height="24" aria-label="instagram icon">
							<use href="./img/icons.svg#icon-ph_instagram-logo-fill"></use>
						</svg>
					</a>
				</li>
				<li class="header-social-item">
					<a class="header-social-link " href="https://www.youtube.com/c/GoIT" target="_blank">
						<svg class="header-social-icon" width="24" height="24" aria-label="youtube icon">
							<use href="./img/icons.svg#icon-entypo-social_youtube-with-circle"></use>
						</svg>
					</a>
				</li>
				<li class="header-social-item">
					<a class="header-social-link" href="https://www.facebook.com/goITclub/" target="_blank">
						<svg class="header-social-icon" width="24" height="24" aria-label="facebook icon">
							<use href="./img/icons.svg#icon-ic_outline-facebook"></use>
						</svg>
					</a>
				</li>
			</ul>

			<button class="header-burger menu-btn-open" type="button">
				<svg class="burger-icon" width="28" height="28">
					<use href="./img/icons.svg#icon-ci_menu-duo-lg"></use>
				</svg>
			</button>
		</div>
	</div>



</header>