<div class="modal">
  <!--class="is-open"-->
  <div class="modal-search">
    <div class="modal-search-form">
      <div class="modal-search-input">
        <a href="#about">yachtjet</a>

        <button class="modal-search-button" type="submit">
          <svg class="modal-search-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-ion_close-sharp"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="modal-navigation-section">
      <nav class="modal-navigation">
        <ul class="modal-navigation-list">
          <li class="modal-navigation-item active">
            <a href="#about">About</a>
          </li>
          <li class="modal-navigation-item">
            <a href="#yachts">Yachts</a>
          </li>
          <li class="modal-navigation-item">
            <a href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="modal-social">
      <ul class="modal-social-list">
        <li class="modal-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="modal-social-link"
            target="_blank"
            ><svg class="modal-social-icon" width="19" height="19">
              <use
                href="./img/icons.svg#icon-ph_instagram-logo-fill"
              ></use></svg
          ></a>
        </li>
        <li class="modal-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="modal-social-link"
            target="_blank"
            ><svg class="modal-social-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-ic_outline-facebook"></use></svg
          ></a>
        </li>
        <li class="modal-social-item">
          <a
            href="https://www.facebook.com/goITclub"
            class="modal-social-link"
            target="_blank"
          >
            <svg class="modal-social-icon" width="20" height="20">
              <use
                href="./img/icons.svg#icon-entypo-social_youtube-with-circle"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
