<section class="yachts-section" id="yachts">
  <div class="container yachts-container">
    <h2 class="yachts-section-name">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-menu">
      <li class="yachts-list">
        <picture>
          <source
            srcset="
              ./img/img_yaht_desktop_1440_1@1x.jpg 1x,
              ./img/img_yaht_desktop_1440_1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/img_yaht_desktop_1280_1@1x.jpg 1x,
              ./img/img_yaht_desktop_1280_1@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/img_yaht_tablet_1@1x.jpg 1x,
              ./img/img_yaht_tablet_1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/img_yaht_mobile_1@1x.jpg 1x,
              ./img/img_yaht_mobile_1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="yachts-picture"
            src=".img/img_yaht_mobile_1@1x.jpg"
            alt="yacht first"
          />
        </picture>
        <div class="yachts-description-all">
          <div class="yachts-description-name current">
            <p class="yachts-name">Arrow</p>
            <p class="yachts-description">LUXURY YAHTS</p>
          </div>
          <div class="yachts-property-div">
            <ul>
              <li class="yachts-description-list">
                <span class="yachts-property">LENGTH</span
                ><span class="yachts-meaning">48m(155ft)</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">BUILDER</span
                ><span class="yachts-meaning">Admiral</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">BUILT</span
                ><span class="yachts-meaning">2021</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">GUESTS</span
                ><span class="yachts-meaning">11 in 5 cabins</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">PRICE</span
                ><span class="yachts-meaning">€33,500,000</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="yachts-list">
        <picture>
          <source
            srcset="
              ./img/img_yaht_desktop_1440_2@1x.jpg 1x,
              ./img/img_yaht_desktop_1440_2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/img_yaht_desktop_1280_2@1x.jpg 1x,
              ./img/img_yaht_desktop_1280_2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/img_yaht_tablet_2@1x.jpg 1x,
              ./img/img_yaht_tablet_2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="yachts-picture"
            src=".img/img_yaht_mobile_2@1x.jpg"
            alt="yacht second"
          />
        </picture>
        <div class="yachts-description-all">
          <div class="yachts-description-name current">
            <p class="yachts-name">BENETTI OASIS 40M BO122</p>
            <p class="yachts-description">LUXURY YAHTS</p>
          </div>
          <div class="yachts-property-div">
            <ul>
              <li class="yachts-description-list">
                <span class="yachts-property">LENGTH</span
                ><span class="yachts-meaning">41m (133ft)</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">BUILDER</span
                ><span class="yachts-meaning">Benetti</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">BUILT</span
                ><span class="yachts-meaning">2025</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">GUESTS</span
                ><span class="yachts-meaning">10 in 5 cabins</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">PRICE</span
                ><span class="yachts-meaning">€23,210,000</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="yachts-list">
        <picture>
          <source
            srcset="
              ./img/img_yaht_desktop_1440_3@1x.jpg 1x,
              ./img/img_yaht_desktop_1440_3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/img_yaht_desktop_1280_3@1x.jpg 1x,
              ./img/img_yaht_desktop_1280_3@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="yachts-picture"
            src=".img/img_yaht_mobile_3@1x@1x.jpg"
            alt="yacht third"
          />
        </picture>
        <div class="yachts-description-all">
          <div class="yachts-description-name current">
            <p class="yachts-name">BELLE ANNA</p>
            <p class="yachts-description">LUXURY YAHTS</p>
          </div>
          <div class="yachts-property-div">
            <ul>
              <li class="yachts-description-list">
                <span class="yachts-property">LENGTH</span
                ><span class="yachts-meaning">50m(155ft)</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">BUILDER</span
                ><span class="yachts-meaning">ISA</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">BUILT</span
                ><span class="yachts-meaning">2012</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">GUESTS</span
                ><span class="yachts-meaning">12 in 6 cabins</span>
              </li>
              <li class="yachts-description-list">
                <span class="yachts-property">PRICE</span
                ><span class="yachts-meaning">€21,000,000</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a class="yachts-btn" href="#rent_a_yacht">Yacht rental</a>
  </div>
</section>
