.about-section {
  color: var(--hacks);
  line-height: 1;
  background-color: transparent;
  letter-spacing: -0.02em;
  padding-bottom: 140px;
  margin-top: -60px;
}
.about-container {
  display: flex;
  border-radius: 24px;
  background-color: var(--graywhite);
  max-width: 335px;
  height: 675px;
  flex-direction: column;
  gap: 40px;
}
.about-container-content {
  padding: 40px 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-title-section {
  font-size: 28px;
  font-weight: 500;
}
.about-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-article-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}
.about-article-text {
  color: var(--darkgrey);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.4;
}
.about-img {
  border-radius: 24px;
}

/* ============== TABLET================ */
@media screen and (min-width: 768px) {
  .about-section {
    padding-bottom: 351px;
    margin-top: -68px;
  }
  .about-container {
    max-width: 704px;
    gap: 50px;
  }
  .about-container-content {
    padding: 50px 136px 0 32px;
    gap: 50px;
    letter-spacing: -0.02em;
  }
  .about-title-section {
    font-size: 48px;
    letter-spacing: -0.02em;
  }
  .about-article {
    max-width: 389px;
  }
  .about-article-title {
    font-size: 23px;
  }
  .about-article-text {
    font-size: 13px;
    line-height: 1.15;
  }
}
/* ==================== /TABLET================ */
/* ================DESKTOP 1280============= */
@media screen and (min-width: 1280px) {
  .about-section {
    padding-bottom: 505px;
    margin-top: -40px;
  }
  .about-container {
    flex-direction: column;
    max-width: 1180px;
    height: 400px;
    gap: 100px;
  }
  .about-container-content {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
    padding: 50px 50px 0 50px;
  }
  .about-title-section {
    width: 537px;
  }
  .about-article {
    width: 354px;
  }
}
/* ================ /DESKTOP 1280============= */
/* ================DESKTOP 1440============= */
@media screen and (min-width: 1440px) {
  .about-section {
    margin-top: -35px;
    padding-bottom: 482px;
  }
  .about-container {
    max-width: 1340px;
    gap: 100px;
  }
  .about-article {
    max-width: 404px;
  }
}
