.footer-container {
  max-width: 375px;
  padding: 0 10px;
  margin: 0 auto;
}

.footer-all {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border-radius: 24px 24px 0px 0px;
  background: var(--hacks);
  align-items: center;
}

.footer-novigetion {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 294px;
  gap: 37px;
 }

.footer-logo {
  color: var(--graywhite);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
}

.footer-novigetion-button {
  display: flex;
  align-items: center;
  }

.footer-novigetion-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.footer-novigetion-link {
  display: block;
  text-align: center;
  min-width: 66px;
  color: var(--graywhite);
  padding: 15px 12px;
  border-radius: 8px;
  background: var(--graygray);
  font-size: 9px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-novigetion-link:hover,
.footer-novigetion-link:focus {
  color: var(--hacks);
  background: var(--graywhite);
}

.footer-media {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  }

.footer-media-list {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.footer-media-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--graywhite);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-link:hover,
.footer-media-link:focus {
  fill: var(--darkwhite);
}

/* =============TABLET====================== */

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 736px;
    padding: 0 16px;
    margin: auto;
  }
  .footer-logo {
    margin-right: 106px;
  }

  .footer-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 48px 0px 48px;
    align-items: flex-start;
    gap: unset;
  }

  .footer-novigetion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    gap: unset;
  }

  .footer-novigetion-button {
    display: block;
    
  }

  .footer-novigetion-link {
    width: 91px;
  }

  .footer-media {
    display: block;
    margin: 0;
    
  }
}

/* ===================DESKTOP 1280===================== */

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1230px;
    padding: 0 25px;
  }

  .footer-all {
    padding: 75px 50px 0px 50px;
  }

  .footer-logo {
    margin-right: 326px;
  }
}

/* ===================DESKTOP 1440===================== */

@media screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1390px;
  }

  .footer-logo {
    margin-right: 409px;
  }
}
