
.hero-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    color: var(#FBFBFB);
    text-align: center; 
    font-weight: 500;
    line-height: 1em;
    letter-spacing: -0.02em;
    margin: 0 auto;

}

.hero-prg {
    color: rgba(251, 251, 251, 0.70);  
    font-weight: 300;
    line-height: 1.17em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

.hero-btn {
    color: var(#FBFBFB);
    font-weight: 500;
    line-height: 1.29em;
    letter-spacing: -0.02;
    border-radius: 15px;
    background-color: var(#1B414B);
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
 .hero-btn:active {
     color: var(#1B414B);
     background-color: var(#FBFBFB);

 }

@media screen and (max-width: 767px) {

    .hero-section {
        padding: 198px 20px 243px 20px;
        min-width: 280px;
        background-image:
                url(../img/img_hero_mobile@1x.jpg);


    }
    @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero-section {
        background-image:
            url(../img/img_hero_mobile@2x.jpg);
    }
}
    .hero-title {
        font-size: 32px;
        max-width: 336px;
        margin-bottom: 24px;

    }

    .hero-prg {
        max-width: 336px;
        font-size: 12px;
        margin-bottom: 38px;
     
    }

    .hero-btn {
        font-size: 14px;
        padding: 14px 32px;
    }
    
}

@media screen and (min-width: 768px) {

    .hero-section {
        background-image:
            url(../img/img_hero_tablet@1x.jpg);
            padding: 220px 32px 232px 32px;
            

    }

    @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
        .hero-section {
            background-image:
                url(../img/img_hero_tablet@2x.jpg);
        }
    }


    .hero-title {
        font-size: 70px;
        max-width: 704px;
        margin-bottom: 24px;

    }

    .hero-prg {
        font-size: 16px;
        max-width: 598px;
        letter-spacing: 0;
        margin-bottom: 48px;
    }

    .hero-btn {
        font-size: 18px;
        padding: 16px 40px;
        
    }
    .hero-btn:focus, .hero-btn:hover  {
        color: var(#1B414B);
        background-color:var(#FBFBFB);
        

 }
}

@media screen and (min-width: 1280px) {
.hero-section {
        background-image:
            url(../img/img_hero_desktop_1280@1x.jpg);
        padding: 155px 140px 180px 140px;


    }

    @media screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
        .hero-section {
            background-image:
                url(../img/img_hero_desktop_1280@2x.jpg);
        }
    }


    .hero-title {
        font-size: 80px;
        max-width: 1000px;
       

    }
    .hero-prg {
        letter-spacing: 0;
    }
}

@media screen and (min-width: 1440px) {
    .hero-section {
            background-image:
                url(../img/img_hero_desktop_1440@1x.jpg);
            padding: 180px 220px 156px 220px;
    
    
        }
    
        @media screen and (min-resolution: 192dpi) and (min-width: 1280px),
        screen and (min-resolution: 2dppx) and (min-width: 1280px),
        screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
            .hero-section {
                background-image:
                    url(../img/img_hero_desktop_1440@2x.jpg);
            }
        }
        
   
}


