.hero-section {
    background-image:
        url(../img/img_hero_mobile@1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero-section {
        background-image:
            url(../img/img_hero_mobile@2x.jpg);
    }
}

.hero-title {
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: -0.02em;
    margin: 0 auto;



}

.hero-prg {
    color: rgba(251, 251, 251, 0.70);
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: 1.17em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

.hero-btn {
    color: #FBFBFB;
    font-family: Inter;

    font-style: normal;
    font-weight: 500;
    line-height: 1.29em;
    letter-spacing: -0.02;
    border-radius: 15px;
    background-color: #1B414B;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 14px 32px;

}

@media screen and (max-width: 767px) {

    .hero-section {
        padding: 198px 20px 243px 20px;
        min-width: 280px;

    }

    .hero-title {
        font-size: 32px;
        max-width: 336px;
        margin-bottom: 24px;

    }

    .hero-prg {
        max-width: 336px;
        font-size: 12px;
        margin-bottom: 38px;


    }

    .hero-btn {
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) {

    .hero-section {
        background-image:
            url(../img/img_hero_tablet@1x.jpg);

    }

    @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
        .hero-section {
            background-image:
                url(../img/img_hero_tablet@2x.jpg);
        }
    }


    .hero-title {
        font-size: 70px;
        max-width: 640px;
        margin: 0 auto;

    }

    .hero-prg {
        font-size: 16px;
    }

    .hero-btn {
        font-size: 18px;
    }

}