.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.modal-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.modal.is-open {
  transform: translateX(0);
}
/* ======== MODAL-FORM =======*/

.modal-search-form {
  width: 100%;
  height: 42px;
  max-width: 335px;
  background: var(--graywhite);
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--graywhite);
  padding: 7px 20px;
  /* margin-bottom: 201px; */
}
.modal-search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  /* flex: 1; */
  border: none;
  outline: none;
  color: var(--hacks);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em; /*-0.42px*/
}
.modal-search-input a {
  cursor: pointer;
}
.modal-search-button {
  border: none;
  background: transparent;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.modal-search-button .modal-search-icon {
  width: 16px;
  height: 16px;
  fill: var(--hacks);
  display: flex;
  align-items: center;
}

/* ======== END MODAL-FORM =======*/
/* ======== MODAL-NAVIGATION =======*/
.modal-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 160px;
  /* margin-bottom: 201px; */
}
.modal-navigation-item {
  display: flex;
  justify-content: center;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--grayhacks);
  color: var(--graywhite);
  text-align: center;
  align-items: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.3; /* 11.7px */
  text-transform: uppercase;
  cursor: pointer;
}
.modal-navigation-item:active,
.active {
  background-color: var(--hacks);
}
/* ======== END MODAL-NAVIGATION =======*/

/* ======== MODAL-SOCIAL =======*/
.modal-social {
  bottom: 40px;
}
.modal-social-list {
  display: flex;
  gap: 8px;
}
.modal-social-icon {
  fill: var(--graywhite);
}
.modal-social-item:active .modal-social-icon {
  fill: var(--graywhite);
  opacity: 0.8;
}
.is-scroll-disabled {
  overflow: hidden;
}
/* ======== END MODAL-SOCIAL =======*/
/* ======== END MODAL-SOCIAL =======*/
