.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding-top: 16px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--dark);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.modal.is-open {
  transform: translateX(0);
}
/* ======== MODAL-FORM =======*/

.modal-search-form {
  width: 100vw;
  height: 42px;
  max-width: 335px;
  background: rgba(251, 251, 251, 1);
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--graywhite);
  padding: 7px 20px;
}
.modal-search-input {
  width: 100%;
  background: transparent;
  /* flex: 1; */
  border: none;
  outline: none;
  color: var(--hacks);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
}
::placeholder {
  color: var(--transp);
}

.modal-search-button {
  border: none;
  background: transparent;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.modal-search-button .modal-search-icon {
  width: 16px;
  height: 16px;
  fill: var(--hacks);
  display: flex;
  align-items: center;
}

/* ======== END MODAL-FORM =======*/
/* ======== MODAL-NAVIGATION =======*/
.modal-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal-navigation-item {
  display: flex;
  justify-content: center;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: #1b414b80;
  color: var(--graywhite);
  text-align: center;
  align-items: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.3; /* 11.7px */
  text-transform: uppercase;
}
.modal-navigation-item:active,
.active {
  background-color: var(--hacks);
}
/* ======== END MODAL-NAVIGATION =======*/

/* ======== MODAL-SOCIAL =======*/
.modal-social-list {
  display: flex;
  gap: 8px;
}
.modal-social-icon {
  fill: var(--graywhite);
}
.modal-social-item:active .modal-social-icon {
  fill: rgba(251, 251, 251, 0.8);
}

/* ======== END MODAL-SOCIAL =======*/
