/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./variable.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yachts.css');
@import url('./advantages.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer-first.css');
@import url('./footer-second.css');
@import url('./modal.css');
