:root {
  --darkgrey: #040306;
  --dark: #0e1823;
  --hacks: #1b414b;
  --graywhite: rgb(251, 251, 251);
  --gray: rgba(251, 251, 251, 0.102);
  --transp: rgba(27, 65, 75, 0.502);
  --darkwhite: rgba(251, 251, 251, 0.7);
  --graydark: rgba(251, 251, 251, 0.4);
  --litegray: rgba(4, 3, 6, 0.4);
  --blyegray: rgb(6, 39, 48);
  --graygray: rgba(251, 251, 251, 0.3);
}
