.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.yachts-section {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--dark);
}

.yachts-section-name {
  display: block;
  max-width: 319px; 
  color: var(--graywhite);
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  justify-content: center;
}

.yachts-list:not(:first-child) {
  display: none;
}

.yachts-list {
  background-color: var(--graywhite);
  border-radius: 24px;
  margin-bottom: 40px;
}

.yachts-menu {
  display: flex;
  justify-content: center;
} 

.yachts-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--graywhite);
  background: var(--dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding: 14px 32px;
  min-width: 141px;
  height: 46px;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yachts-btn:hover, .yachts-btn:focus {
  background-color: var(--graywhite);
  border: none;
  color: var(--hacks);
}

.yachts-picture {
  padding: 16px 16px 32px 16px;
}

.yachts-name {
  color: var(--hacks);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}

.yachts-description {
  color: var(--darkgrey);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

.yachts-property {
  color: var(--darkgrey);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

.yachts-meaning {
  color: var(--darkgrey);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03px;
}

.yachts-property-div {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.yachts-description-name {
  display: flex;
  justify-content: space-between;
  display: flex;
  padding-bottom: 16px;
}

.yachts-description-all {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.current {
  position: relative;
}

.yachts-description-name.current::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 272px;
  height: 1px;
  flex-shrink: 0;
  background: rgba(4, 3, 6, 0.10);
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
 
  .yachts-section {
    padding-top: 150px;
    padding-bottom: 150px;
  }


  .yachts-section-name {
    display: block;
    max-width: 645px;
    color: var(--graywhite);
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 75px;
    justify-content: center;
  }

  .yachts-list:not(:last-child) {
    display: block;
  }
  
  .yachts-menu {
    justify-content: space-between;
  }
  
  .yachts-list {
    width: calc((100% - 32px) / 2);
    gap: 32px;
    margin-bottom: 50px;
  }

  .yachts-name {
    display: block;
    width: 147px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .yachts-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  
  .yachts-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    max-width: 179px;
  }

}

@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1280px;
  }

  .yachts-section-name {
    max-width: 714px;
  }
  
  .yachts-list:last-child {
    display: block;
  }

  .yachts-list {
    display: block;
    width: calc((100% - 46px) / 3);
    gap: 23px;
  }

}

@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1340px;
  }

  .yachts-list {
    width: calc((100% - 64px) / 3);
    gap: 32px;
  }

}