.yachts-section {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.yachts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.yachts-section-name {
  display: block;
  max-width: 319px;
  color: var(--graywhite);
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  justify-content: center;
}

.yachts-list:not(:first-child) {
  display: none;
}

.yachts-list {
  background-color: var(--graywhite);
  border-radius: 24px;
  margin-bottom: 40px;
}

.yachts-menu {
  display: flex;
  justify-content: center;
}

.yachts-btn {
  color: var(--graywhite);
  background: var(--dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding: 14px 32px;
  width: auto;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid var(--whitethree);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yachts-btn:hover,
.yachts-btn:focus {
  background-color: var(--graywhite);
  border: none;
  color: var(--hacks);
}

.yachts-picture {
  padding: 16px 16px 32px 16px;
}

.yachts-name {
  color: var(--hacks);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}

.yachts-description {
  color: var(--darkgrey);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

.yachts-property {
  color: var(--darkgrey);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

.yachts-meaning {
  display: flex;
  justify-content: space-between;
  width: 96px;
  color: var(--darkgrey);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.yachts-property-div {
  padding-top: 16px;
}

.yachts-description-list {
  display: flex;
  justify-content: space-between;
}

.yachts-description-name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.yachts-description-all {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.current {
  position: relative;
}

.yachts-description-name.current::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: var(--litegrayone);
}

 .yachts-list {
  transition: all 0.125s ease;
 }
  
 .yachts-list img {
  transition: all 0.125s ease;
  }
  
 .yachts-list:hover img {
  transform: scale(1.25);
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid var(--graywhite);
  }
  
 .yachts-list:hover .yachts-picture {
   padding: 0;
 }
  
 .yachts-list:hover .yachts-description-all {
    display: none;
 }

   .yachts-list:hover {
    background-color: transparent; 
    margin-left: 24px;
    margin-right: 24px; 
 } 
  
@media (min-width: 768px) {
   
  .yachts-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .yachts-section-name {
    display: block;
    max-width: 645px;
    color: var(--graywhite);
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 75px;
    justify-content: center;
  }

  .yachts-list:not(:last-child) {
    display: block;
  }

  .yachts-menu {
    justify-content: space-between;
  }

  .yachts-list {
    width: calc((100% - 32px) / 2);
    gap: 32px;
    margin-bottom: 50px;
  }

  .yachts-name {
    display: block;
    width: 147px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .yachts-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }

  .yachts-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    max-width: 179px;
  }

  .yachts-list:hover {
    background-color: transparent; 
    margin-left: 45px;
    margin-right: 45px; 
 }  
}

@media (min-width: 1280px) {
  
  .yachts-section-name {
    max-width: 714px;
  }

  .yachts-list:last-child {
    display: block;
  }

  .yachts-list {
    display: block;
    width: calc((100% - 46px) / 3);
    gap: 23px;
  }

  .yachts-list:hover {
    background-color: transparent; 
    margin-left: 60px;
    margin-right: 50px; 
  }  
}

@media (min-width: 1440px) {
  .yachts-container {
    max-width: 1340px;
  }

  .yachts-list {
    width: calc((100% - 64px) / 3);
    gap: 32px;
  }
}
